body {
  background-image: url("../images/flat-lay-chocolate-sweets-mix-cocoa-powder-pink-background-with-copy-space.jpg");
  background-size: cover;
}

#form-div {
  background-color: rgba(151, 92, 92, 0.726);
  box-sizing: border-box;
  width: 80%; 
  text-align: center;
}


section {
  display: flex;
  max-width: 1000px;
  margin: auto;
  background: transparent;
  opacity: 1;
  padding: 10px;
  height: auto;
  justify-content: center;
  margin-top: 250px;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;

}

#attribution {
  background: transparent;
  opacity: 0.9;
  color:aliceblue;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

input {
  width: 350px;
  margin:10px 0;
}

input[type=number] {
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.rounded-input {
  padding:10px;
  border-radius:10px;
}

select {
  width: 350px;
  padding:10px;
  border-radius:10px;
  margin:10px 0;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
} 

input[type=submit] {
  padding:10px;
  border:none;
  background-color: burlywood;
  color: black;
  font-weight:600;
  border-radius:5px;
  width: 350px;
}

/*navbar*/

nav {
  width: 100%;
  overflow: auto;
  background-image: linear-gradient(to bottom right, rgb(77, 16, 16), burlywood);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}


.nav-div {
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}


h1 {
  color:white;
}


#stats {
  background-color: white;
  display: block;
 
}

#stats h3 {
  text-align: center;
}

.bar-rect {
  fill:rgba(151, 92, 92, 0.726)
}

rect.bar-rect:hover { 
  fill: burlywood;
  transition: all .2s;
}